<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
        <add name="DB:Effie" connectionString="server=(local);database=Effie2019;user id=effie;password=effie" />
    	<add name="DB:EffieJuryMgmt" connectionString="server=10.64.3.13;database=EffieJuryManagement2019;user id=effie;password=effie"/>
  </connectionStrings>
  <appSettings>
    <!--storage folder setting -->
    <add key="storageVirtualPath" value="http://www.ipx1.com/Effie2019.Web/Storage/" />
    <add key="storagePhysicalPath" value="W:\www\Effie2018.Web\storage\" />
    <add key="ImagePhysicalPath" value="D:\www\Effie2019.Web\images\" />
    
    <add key="WebURL" value="http://www.ipx1.com/Effie2019.Web/" />
    <add key="WebPhysicalPath" value="D:\www\Effie2019.Web\" />
      
    <add key="storageVirtualPathJuryMgmt" value="http://ipx1.com/EffieJuryManagement2018.Web/Storage/"/>
    <add key="storagePhysicalPathJuryMgmt" value="D:\www\EffieJuryManagement2018.Web\Storage\"/>
    <add key="WebURLJuryMgmt" value="http://ipx1.com/EffieJuryManagement2018.Web/"/>

    <!-- Login -->
    <add key="BackdoorCode" value="1111" />
    <add key="JuryLoginCutOff" value="1/1/2999" />
    <add key="EntrantLoginCutOff" value="01/11/2999 08:59:59 AM" /> 
    <add key="EntrantSubmissionCutOff" value="01/12/2019 10:00:00 PM" />
    <add key="AddNewEntryCutOff" value="01/05/2019 09:00:00 PM" />
    <add key="RegisterNewUserCutOff" value="01/05/2019 09:00:00 PM" />

    <!-- Reg Serial No -->
    <add key="CodePrefixInvoice" value="AE18/" />

    <!-- Entry Case Sumamry Date Setting -->      
    <add key="CaseStartDateSustainedSuccess" value="07/01/2016 12:00:00 AM" />
    <add key="CaseEndDateSustainedSuccess" value="09/30/2017 12:00:00 AM" />
    <add key="CaseStartDate" value="07/01/2016 12:00:00 AM" />
    <add key="SpecialCaseStartDate" value="09/30/2017 12:00:00 AM" />
    <add key="CaseEndDate" value="09/30/2017 12:00:00 AM" />

    <!-- Payment -->
    <add key="OnTimeCutOff" value="11/29/2017 10:00:00 PM" />
    <add key="ExtendedCutOff" value="12/13/2017 10:00:00 PM" />
    <add key="Extended_2_CutOff" value="12/27/2017 10:00:00 PM" />
    <add key="PPFee" value="0.045" />
    <add key="BankTransferFee" value="20" />
    <add key="GSTRate" value="0.07" />
    
    <!--Email Dates-->
    <add key="DueDate1" value="12/08/2017 11:59:59 PM" />
    <add key="DueDate2" value="12/22/2017 11:59:59 PM" />
    <add key="DueDate3" value="01/05/2018 11:59:59 PM" />
    <add key="DueDate4" value="01/12/2018 11:59:59 PM" />


    <!-- Email -->
    <add key="AdminEmailName" value="APAC Effie Awards 2019" />
    <add key="AdminEmail" value="support@iptech.com.sg" />
    <add key="Bcc" value="support@iptech.com.sg,support.apaceffie@tenasia.com.sg" />
    <add key="BccFinance" value="af@tenasia.com.sg,support@iptech.com.sg,support.apaceffie@tenasia.com.sg,fendy.yulianto@iptech.com.sg" />
    <add key="EmailTemplateLocation" value="W:\www\Effie2018.Web\storage\emailtemplates\" />
    <add key="PdfTemplateLocation" value="W:\www\Effie2018.Web\storage\pdftemplates\" />
    <add key="EFTamplate" value="W:\www\Effie2018.Web\storage\EFTamplate\" />
    <add key="EntryForm" value="W:\www\Effie2018.Web\storage\EntryForm\" />
      
    <add key="RSVPHost" value="localhost" />
    <add key="RSVPPort" value="25" />
    <add key="RSVPEmailName" value="APAC Effie" />
    <add key="RSVPEmail" value="apaceffie@tenasia.com.sg" />
    <add key="RSVPEmailBcc" value="support@iptech.com.sg" />
    <add key="RSVPEmailSubject" value="Invitation to the APAC Effie Awards Gala 2018, 27th April" />    

      <!-- Paypal -->
     <add key="paypalBase" value="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick"/>
      <add key="paypalEmail" value="af@tenasia.com.sg" />
      <add key="cancelPaymentUrl" value="http://www.ipx1.com/Effie2019.Web/Main/Summary.aspx" />
      <add key="successPaymentUrl" value="http://www.ipx1.com/Effie2019.Web/CallBack/ProcessCredit.aspx" />
      <add key="notifyUrl" value="http://www.ipx1.com/Effie2019.Web/CallBack/NotifyCredit.aspx" />
    
    <!-- Adhoc Payment -->
    <add key="cancelPaymentUrlAdhoc" value="http://www.ipx1.com/Effie2019.Web/CallBack/CancelPaymentAdhoc.aspx" />
    <add key="successPaymentUrlAdhoc" value="http://www.ipx1.com/Effie2019.Web/CallBack/ProcessAdhoc.aspx" />
    <add key="notifyUrlAdhoc" value="http://www.ipx1.com/Effie2019.Web/CallBack/NotifyAdhoc.aspx" />
      <!-- Gala Payment-->
      <add key="cancelPaymentUrlGala" value="http://www.ipx1.com/Effie2019.Web/Gala/Order.aspx" />
      <add key="successPaymentUrlGala" value="http://www.ipx1.com/Effie2019.Web/CallBack/ProcessCreditGala.aspx" />
      <add key="notifyUrlGala" value="http://www.ipx1.com/Effie2019.Web/CallBack/NotifyCreditGala.aspx" />


    <!-- Amazon Cloud -->
    <add key="AWSProfileName" value="Amazon Cloud"/>
    <add key="AWSRegion" value="ap-southeast-1" />
    <add key="AWSAccessKey" value="AKIAJUCJRYWXGJDL5RMQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSBucket_Original" value="effie2015.creative.demo.original"/>
    <add key="AWSBucket_Small" value="effie2015.creative.demo.small"/>
    <add key="AWSPipeLineID" value="1444645314514-af250c"/>
    <add key="AWSPresetID" value="1453184293794-ywcoi4"/>

    <add key="AWSS3WebURL" value="https://s3-ap-southeast-1.amazonaws.com/"/>
    
    
    <add key="Telerik.Skin" value="Windows7" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />

    <!-- ERROR Email -->
    <add key="emailToError" value="fendy.yulianto@iptech.com.sg,support@iptech.com.sg"/>
    <add key="emailSubjectError" value="Effie : Error Server"/>
  </appSettings>
  
</configuration>